<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Flink Automation tests"><!--  parallel = "methods" thread-count="2"> -->
	<listeners>
		<listener class-name="com.weathershopper.reports.ExtentReporter" />
	</listeners>
	<test name="Flink Automation Tests">
		<classes>
		<class name="com.weathershopper.tests.WeatherShopperTest"></class>
		</classes>
	</test>
</suite>
